{{!-- <div class="container text-center">
{{!-- table.table.table-bordered>tr*3>th*7 --}}
<table class="table bordered">
   <tr>
      <th class="h2 text text-success" colspan="6">Toy List</th>
      <th>
         <a class="btn btn-primary" href="/toy/add">Add Product</a>
      </th>
   </tr>
   <tr>
      <th>Product Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Image</th>
      <th>Action</th>
   </tr>
   {{!-- heach --}}
   {{#each toy }}
   <tr>
      <th>{{ name }}</th>
      <th>${{ price }}</th>
      <th>{{ description }}</th>
      <th>
         <img src="{{ image }}" width="150" height="150">
      </th>
      <th>
         <a class="btn btn-warning" href="/toy/edit/{{_id}}">Edit</a>
         <a class="btn btn-danger" href="/toy/delete/{{_id}}"
         onclick="return confirm('Are you sure to delete ?');"
         >Delete</a>
      </th>
   </tr>
   {{/each}}
</table>
</div> --}}
