{{!-- <div class="container text-center">
   <h1  style="text-align: center; color: #FF0066; background-color: #F2F2F2; padding: 20px;">Game List</h1>
   <br/><br/>
   <a class="btn btn-primary float-end" href="/game/add">Add Game</a>
   <br><br>
   <table class="table table-striped table-bordered">
      <tr>
         <th class="col-2" style="color: forestgreen; font-size:larger">Title</th>
         <th class="col-4" style="color: forestgreen; font-size:larger">Description</th>
         <th class="col-4" style="color: forestgreen; font-size:larger">Trailer</th>
         <th class="col-2" style="color: forestgreen; font-size:larger">Action</th>
      </tr>
      {{#each game}}
      <tr>
         <td class="col-2">{{title}}</td>
         <td class="col-4">{{description}}</td>
         <td class="col-4">
            <iframe src="https://www.youtube.com/embed/{{trailer}}" width="300" height="175"></iframe>
         </td>
         <td class="col-2">
            <a class="btn btn-warning" href="/game/edit/{{_id}}">Edit</a>
            <a class="btn btn-danger" href="/game/delete/{{_id}}" onclick="return confirm('Are you sure to delete?');">Delete</a>
         </td>
      </tr>
      {{/each}}
   </table>
</div>


<br><br><br><br><br><br>


<div class="container text-center">
   <h1  style="text-align: center; color: #FF0066; background-color: #F2F2F2; padding: 20px;">Toy List</h1>
   <br/><br/>
   <a class="btn btn-primary float-end" style="padding: 5px;" href="/toy/add">Add Product</a>
   <br><br>
   <table class="table table-striped table-bordered">
      <tr>
         <th class="col-2" style="color: forestgreen; font-size:larger">Product Name</th>
         <th class="col-1" style="color: forestgreen; font-size:larger">Price</th>
         <th class="col-5" style="color: forestgreen; font-size:larger">Description</th>
         <th class="col-2" style="color: forestgreen; font-size:larger">Image</th>
         <th class="col-2" style="color: forestgreen; font-size:larger">Action</th>
      </tr>
      {{#each toy}}
      <tr>
         <td class="col-2">{{name}}</td>
         <td class="col-1">${{price}}</td>
         <td class="col-5">{{description}}</td>
         <td class="col-2">
            <img src="{{image}}" width="150" height="150">
         </td>
         <td class="col-2">
            <a class="btn btn-warning" href="/toy/edit/{{_id}}">Edit</a>
            <a class="btn btn-danger" href="/toy/delete/{{_id}}" onclick="return confirm('Are you sure to delete?');">Delete</a>
         </td>
      </tr>
      {{/each}}
   </table>
</div>
<div class="d-flex justify-content-center">
  <a href="/" class="btn btn-primary">Back to homepage</a>
</div>
 --}}
<div class="container text-center">
   <h1 style="text-align: center; color: #FF0066; background-color: #F2F2F2; padding: 20px;">Game List</h1>
   <br/><br/>
   <a class="btn btn-primary float-end" href="/game/add">Add Game</a>
   <br><br>
   <div class="list-group">
      {{#each game}}
      <div class="list-group-item">
         <div class="row">
            <div class="col-9">
               <h4 class="list-group-item-heading" style="color: forestgreen;">{{title}}</h4>
               <p class="list-group-item-text" style="color: forestgreen;">{{description}}</p>
               <iframe src="https://www.youtube.com/embed/{{trailer}}" width="300" height="175"></iframe>
            </div>
            <div class="col-3">
               <a class="btn btn-warning" href="/game/edit/{{_id}}">Edit</a>
               <a class="btn btn-danger" href="/game/delete/{{_id}}" onclick="return confirm('Are you sure to delete?');">Delete</a>
            </div>
         </div>
      </div>
      {{/each}}
   </div>
</div>
<br><br><br><br><br><br>

<div class="container text-center">
   <h1 style="text-align: center; color: #FF0066; background-color: #F2F2F2; padding: 20px;">Toy List</h1>
   <br/><br/>
   <a class="btn btn-primary float-end" style="padding: 5px;" href="/toy/add">Add Product</a>
   <br><br>
   <div class="list-group">
      {{#each toy}}
      <div class="list-group-item">
         <div class="row">
            <div class="col-4">
               <img src="{{image}}" width="150" height="150">
            </div>
            <div class="col-8">
               <h4 class="list-group-item-heading" style="color: forestgreen;">{{name}}</h4>
               <p class="list-group-item-text" style="color: forestgreen;">Price: ${{price}}</p>
               <p class="list-group-item-text" style="color: forestgreen;">{{description}}</p>
               <a class="btn btn-warning" href="/toy/edit/{{_id}}">Edit</a>
               <a class="btn btn-danger" href="/toy/delete/{{_id}}" onclick="return confirm('Are you sure to delete?');">Delete</a>
            </div>
         </div>
      </div>
      {{/each}}
   </div>
</div>
<br><br>
<div class="d-flex justify-content-center">
   <a href="/" class="btn btn-primary">Back to homepage</a>
</div>