<div class="container text-center">
{{!-- table.table.table-bordered>tr*3>th*7 --}}
<table class="table bordered">
   <tr>
      <th class="h2 text text-success" colspan="6">Game List</th>
      <th>
         <a class="btn btn-primary" href="/game/add">Add Game</a>
      </th>
   </tr>
   <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Trailer</th>
      <th>Action</th>
   </tr>
   {{!-- heach --}}
   {{#each game }}
   <tr>
      <th>{{ title }}</th>
      <th>{{ description }}</th>
      <th>
         <iframe src="https://www.youtube.com/embed/{{ trailer }}" 
         width="300" height="175"></iframe>
      </th>
      <th>
         <a class="btn btn-warning" href="/game/edit/{{_id}}">Edit</a>
         <a class="btn btn-danger" href="/game/delete/{{_id}}"
         onclick="return confirm('Are you sure to delete ?');"
         >Delete</a>
      </th>
   </tr>
   {{/each}}
</table>
</div>
